### Hypothesis Testing of Cutlet Market

#### Importing Libearies

In [54]:
import pandas as pd 
import numpy as np 
import scipy 
import statsmodels.api as sm 
from scipy import stats

#### Importing Dataset

In [12]:
data = pd.read_csv('F://Data_Set/Cutlets.csv')

In [13]:
data.head()

    UnitA   UnitB
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

Check any Null Value Present in the Dataset or Not

In [14]:
data.isnull().sum()

UnitA    0
UnitB    0
dtype: int64

In [15]:
data.shape

(35, 2)

Check Description of the Data

In [16]:
data.describe()

           UnitA      UnitB
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

To Check the dimeter is greater than the 7 of A unit

In [37]:
n1 = data[data.UnitA > 7].shape[0]  

print('n1 = {}'.format(n1))

n1 = 16

In [38]:
p1 = (16/35)*100

print('p1 = {}'.format(p1))

p1 = 45.714285714285715

In [44]:
p1 = p1/100 

print('p1 = {}'.format(p1))

p1 = 0.45714285714285713

To Check the dimeter is greater than the 7 of B unit

In [43]:
n2 = data[data.UnitB > 7].shape[0]   

print('n2 = {}'.format(n2))

n2 = 17

In [40]:
p2 = (17/35)*100 

print('p2 = {}'.format(p2))

p2 = 48.57142857142857

In [45]:
p2 = p2/100

print('p2 = {}'.format(p2))

p2 = 0.4857142857142857

In [48]:
population_1 = np.random.binomial(1,p1,n1)

population_1

array([0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0])

In [51]:
print('Population_1 mean is = {}'.format(population_1.mean()))

Population_1 mean is = 0.5

In [53]:
population_2 = np.random.binomial(1,p2,n2) 

print('Population_2 mean is = {}'.format(population_2.mean()))

Population_2 mean is = 0.5294117647058824

In [55]:
sm.stats.ttest_ind(population_1,population_2)

(-0.1638286508515127, 0.8709295076786825, 31.0)

p value greater than 0.05 null hypothesis.