### Hypothesis Testing of Hospital Example

#### Importing Libearies

In [39]:
import pandas as pd 
import numpy as np 
import scipy 
from scipy import stats 
import statsmodels.api as sm

#### Importing the Dataset

In [11]:
data = pd.read_csv('F://Data_Set/LabTAT.csv')

In [12]:
data.head()

   Laboratory1  Laboratory2  Laboratory3  Laboratory4
0       185.35       165.53       176.70       166.13
1       170.49       185.91       198.45       160.79
2       192.77       194.92       201.23       185.18
3       177.33       183.00       199.61       176.42
4       193.41       169.57       204.63       152.60

Check any Null Value Present in the Dataset or Not

In [13]:
data.isnull().sum()

Laboratory1    0
Laboratory2    0
Laboratory3    0
Laboratory4    0
dtype: int64

Dataset Information

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Laboratory1  120 non-null    float64
 1   Laboratory2  120 non-null    float64
 2   Laboratory3  120 non-null    float64
 3   Laboratory4  120 non-null    float64
dtypes: float64(4)
memory usage: 3.9 KB

In [9]:
data.shape

(120, 4)

Dataset Description

In [15]:
data.describe()

       Laboratory1  Laboratory2  Laboratory3  Laboratory4
count   120.000000   120.000000   120.000000    120.00000
mean    178.361583   178.902917   199.913250    163.68275
std      13.173594    14.957114    16.539033     15.08508
min     138.300000   140.550000   159.690000    124.06000
25%     170.335000   168.025000   188.232500    154.05000
50%     178.530000   178.870000   199.805000    164.42500
75%     186.535000   189.112500   211.332500    172.88250
max     216.390000   217.860000   238.700000    205.18000

Records from Laboratry 1 are having Value greater than 170

In [20]:
n1 = data[data.Laboratory1 >170].shape[0] 
print('n1 = {}'.format(n1)) 

p1 = (91/120)*100 
print('p1 = {}'.format(p1)) 

p1 = p1/100
print('p1 = {}'.format(p1))

n1 = 91
p1 = 75.83333333333333
p1 = 0.7583333333333333

Records from Laboratry 2 are having Value greater than 170

In [25]:
n2 = data[data.Laboratory2>170].shape[0]
print('n2 = {}'.format(n2)) 

p2 = (82/120)*100
print('p2 = {}'.format(p2)) 

p2 = p2/100
print('p2 = {}'.format(p2))

n2 = 82
p2 = 68.33333333333333
p2 = 0.6833333333333332

Records from Laboratry 3 are having Value greater than 170

In [28]:
n3 = data[data.Laboratory3>170].shape[0] 
print('n3 = {}'.format(n3))

p3 = (119/120)*100
print('p3 = {}'.format(p3)) 

p3 = p3/100
print('p3 = {}'.format(p3))

n3 = 119
p3 = 99.16666666666667
p3 = 0.9916666666666667

Records from Laboratry 4 are having Value greater than 170

In [34]:
n4 = data[data.Laboratory4>170].shape[0] 
print('n4 = {}'.format(n4)) 

p4 = (37/120)*100 
print('p4 = {}'.format(p4)) 

p4 = p4/100
print('p4 = {}'.format(p4))

n4 = 37
p4 = 30.833333333333336
p4 = 0.30833333333333335

In [38]:
population_1 = np.random.binomial(1,p1,n1) 
print('Population_1 = {}'.format(population_1)) 
print('population_1 mean is = {}'.format(population_2.mean()))

Population_1 = [1 0 1 1 1 1 1 1 1 1 1 0 0 0 1 0 1 1 1 1 1 0 1 0 0 1 1 1 1 1 0 1 0 1 1 1 0
 1 1 1 0 1 0 0 1 1 1 1 0 0 1 1 1 1 1 0 1 1 1 0 0 1 0 1 0 1 1 0 1 1 1 1 1 1
 0 0 0 1 1 0 0 1 1 1 1 0 0 1 1 1 0]
population_1 mean is = 0.6585365853658537

In [37]:
population_2 = np.random.binomial(1,p2,n2)
print('Population_2 = {}'.format(population_2)) 
print('population_2 mean is = {}'.format(population_2.mean()))

Population_2 = [1 1 0 1 0 1 0 1 0 1 0 1 1 0 1 0 1 1 0 0 1 1 1 1 0 1 1 1 1 0 1 1 0 1 1 0 1
 1 0 1 0 0 1 1 0 1 1 1 1 1 0 1 0 1 1 1 1 0 1 1 1 1 1 1 1 1 1 0 1 0 0 0 0 1
 1 0 0 1 1 1 1 0]
population_2 mean is = 0.6585365853658537

In [40]:
sm.stats.ttest_ind(population_1,population_2)

(0.16312629665398767, 0.8706116188994022, 171.0)

P Value is Greater than 0.05 Hence Reject Null Hypothesis