### Hypothesis testing of BuyerRatio

#### Importing libearies

In [4]:
import pandas as pd 
import numpy as np 
import scipy 
from scipy import stats

#### Importing Dataset

In [5]:
data = pd.read_csv('F://Data_Set/BuyerRatio.csv')

In [6]:
data.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

Check Dataset Information

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Observed Values  2 non-null      object
 1   East             2 non-null      int64
 2   West             2 non-null      int64
 3   North            2 non-null      int64
 4   South            2 non-null      int64
dtypes: int64(4), object(1)
memory usage: 208.0+ bytes

Check any Null value Present in the Dataset or Not

In [8]:
data.isnull().sum()

Observed Values    0
East               0
West               0
North              0
South              0
dtype: int64

#### Description of the Dataset

In [10]:
data.describe()

             East         West        North       South
count    2.000000     2.000000     2.000000    2.000000
mean   242.500000   832.500000   743.500000  410.000000
std    272.236111   976.514465   866.205807  480.832611
min     50.000000   142.000000   131.000000   70.000000
25%    146.250000   487.250000   437.250000  240.000000
50%    242.500000   832.500000   743.500000  410.000000
75%    338.750000  1177.750000  1049.750000  580.000000
max    435.000000  1523.000000  1356.000000  750.000000

In [11]:
data.shape

(2, 5)

East

In [13]:
r1 = 50/550 

print('Value of r1 is = {}'.format(r1))

Value of r1 is = 0.09090909090909091

West

In [14]:
r2 = 142/351

print('Value of r2 is = {}'.format(r2))

Value of r2 is = 0.4045584045584046

North

In [15]:
r3 = 131/480 

print('Value of r3 is ={}'.format(r3))

Value of r3 is =0.27291666666666664

South

In [16]:
r4 = 70/350 

print('Value of r4 is = {}'.format(r4))

Value of r4 is = 0.2

In [17]:
1-stats.t.cdf(2.23,df=79)

0.014292908802574056

Hence We Reject the Null Hypothesis and select Alternative Hypothesis